.header {
    max-width: 1000px;
    margin: 0 auto;
    padding-inline: 2rem;
    text-align: center;

}
.titulo-header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

.header {
    max-width: 1000px;
    margin: 0 auto;
    padding-inline: 2rem;

}

.header-nav {

    text-align: center;

}

.titulo-header {
    text-align: center;
    color: black;
    font-size: 35px;
    padding: 15px;
}

.navegador {
    padding: 20px;
    text-align: center;
}