@media (max-width: 579px){
    .contenedor {
display: flex;
flex-direction: column;
     }
}



@media (max-width: 579px){
.main-parrafo {
font-size: 13px;
}
}




@media (max-width: 578px){
.contenedor-turismo {
display: flex;
flex-direction: column;
}
}

@media (max-width: 578px){
.contenedor-croacia {
display: flex;
flex-direction: column;
}
}

@media (max-width: 578px){
.contenedor-deporte {
display: flex;
flex-direction: column;
}
}

@media (max-width: 578px){
.obelisco {
display: flex;
flex-direction: column;
}
}

@media (max-width: 578px){
.fotos-antiguas {
display: flex;
flex-direction: column;
}
}

@media (max-width: 578px){
.contenedor-parque-lezama {
display: flex;
flex-direction: column;
}
}

@media (max-width: 578px){
.contenedor-rosedal {
display: flex;
flex-direction: column;
}
}

@media (max-width: 578px){
.contenedor-kavanagh {
display: flex;
flex-direction: column;
}
}

@media (max-width: 578px){
.container-indio {
display: grid;
grid-template-columns: 1;
grid-template-rows: 1;
}
}

@media (max-width: 578px) {
.parrafo-indio {
font-size: 15px;
}
}

@media (max-width: 578px) {
.foto-indio {
margin: auto;
width: 80%;
}
}

@media (max-width: 578px){
.larenga {
display: flex;
flex-direction: column;
}
}

@media (max-width: 578px){
.contenedor-costa {
display: flex;
flex-direction: column;
}
}

@media (max-width: 578px){
.parrafo-congreso {
column-count: 1;
font-size: 15px;
}
}

@media (max-width: 578px) {
.foto-congreso {
margin: auto;
width: 80%;
}
}
@media (max-width: 578px) {
.foto-entradas {
margin: auto;
width: 80%;
}
}

@media (max-width: 578px) {
.parrafo-entradas {
column-count: 1;
font-size: 15px;
}
}

@media (max-width: 578px) {
.parrafo-renga {
column-count: 1;
font-size: 15px;
}
}

@media (max-width: 578px) {
.foto-larenga {
margin: auto;
width: 80%;
}
}

@media (max-width: 578px) {
.parrafo-costa {
font-size: 15px;
}
}

@media (max-width: 578px) {
.puenteboca-foto {
margin: auto;
width: 80%;
}
}

@media (max-width: 578px) {
.parrafo-puenteboca {
column-count: 1;
font-size: 15px;
}
}

@media (max-width: 578px) {
.parrafo-lezama {
column-count: 1;
font-size: 15px;
}
}

@media (max-width: 578px) {
.parrafo-kavanagh {
column-count: 1;
font-size: 15px;
}
}

@media (max-width: 578px) {
.parrafo-rosedal {
column-count: 1;
font-size: 15px;
}
}